<main class="p-x-16" role="main" data-module="Meals">
  <a href="/">Back to overview</a>
  <h1>{{title}}</h1>

  <form method="POST" class="form">
    <label class="block screenreader-only" for="title">Title</label>
    <input class="block" type="text" id="title" name="title" value="Title" placeholder="Meal name" required autocomplete="off"
      aria-required="true">
    <label class="block screenreader-only" for="calories">Calories</label>
    <input class="block" type="text" id="calories" name="calories" placeholder="0">
    <label class="block screenreader-only" for="date">Date</label>
    <input class="block" type="date" id="date" name="date">
    <button>meal +</button>
  </form>
  {{date}} {{#each weekDays}}
  <header data-date="{{dateRender name}}">
    <h2>{{name}}</h2>
    <button class="modal-launch">+</button>
  </header>
  <ul>
    {{#each meals}}
    <li data-id={{id}}>
      <article>
        <details>
          <summary>{{title}}</summary>
          <div>
            {{!--
            <img src="http://via.placeholder.com/350x150" alt=""> --}}
            <span>{{date}}</span>
            <span>{{calories}} cals</span>
            <button class="item-edit">edit</button>
            <button class="item-delete">delete</button>
          </div>
        </details>
      </article>
    </li>
    {{/each}}
  </ul>
  {{/each}}
</main>