extends layout

block content
  - const weight = currentWeight && currentWeight.weight ? currentWeight.weight : 'No Logged Weight'
  main.overview(role="main")
    .wrapper.px-4.container.max-w-2xl.mx-auto
      .quick-stats.flex.flex-col.md-flex-row.md--mx-4

        article.stats.stats__goal.md-w-1-2.lg-w-1-3.lg-mb-0
          .stats__inner.bg-white.b-shadow.h-full.p-4.rounded
            h2.h2.text-lg.text-black.font-normal.mb-4 Goal:
            p.stats__goal__data.text-blue.font-bold.f-s-18 #{info.goalDescription}

        article.stats.stats__weight.md-w-1-2.lg-w-1-3.lg-mb-0
          .stats__inner.bg-white.b-shadow.h-full.p-4.rounded
            h2.h2.text-lg.text-black.font-normal.mb-4 Weight:
            .stats__weight__data
              p.stats__weight__data__inner
                if weight === 'No Logged Weight'
                  span.italic #{weight}
                else
                  span.data__number.text-blue.font-bold.text-4xl.mr-3 #{weight}
                  span.data__metric.text-blue.font-bold.f-s-28 lbs
              //- if weight !== 'No Logged Weight'
                //- .stats__weight__data__comparison
                //-   p.comparison__number.mb-2.mt-0
                //-     span.text-green.font-bold.text-3xl.mr-3 -3
                //-     span.text-base lbs
                //-   span.comparison__reference.text-sm.italic since last week

        article.stats.stats__bmi.md-w-1-2.lg-w-1-3.lg-mb-0
          .stats__inner.bg-white.b-shadow.h-full.p-4.rounded
            h2.h2.text-lg.text-black.font-normal.mb-4 BMI:
            .stats__bmi__data
              p.stats__bmi__data__result
                span.result__number.text-blue.font-bold.text-4xl.mr-3 #{info.BMI}
              //- .stats__bmi__data__comparison
              //-   p.comparison__number.mb-2
              //-     span.text-red.font-bold.text-3xl.mr-3 -3
              //-     span.text-base units
              //-   span.comparison__reference.text-sm.italic since last week

      .form-and-graph.flex.flex-col.lg-flex-row.mt-16.items-center.md-items-start.lg-justify-between.-mx-4
        .daily-log.px-4.sm-w-full.lg-w-1-3
          .daily-log__inner.bg-white.b-shadow.b-r-4.px-8.pt-4.pb-16.mb-16
            h2.h2.mb-8.font-normal.text-lg.mt-0 Daily Log
            if (!todayIsLogged)
              form.mb-16(method="POST")
                label.block.font-bold.text-base.text-blue.mb-2.rounded(for="weight") Weight:
                .flex.justify-between.flex-wrap
                  input#weight.border.border-blue.border-solid.b-r-4(type="number" name="weight")
                  button.daily-log__form-button.bg-blue.b-r-4.p-1(type="submit") ➡️
            else
              p.mb-16.italic Weight for today is already logged.
            .daily-log__buttons
              a(href="/exercises/new").log__buttons.hover-bg-blue.hover-text-white.hover-underline new exercise
              a(href="/meals/new").log__buttons.hover-bg-blue.hover-text-white.hover-underline new meal

        .graph(data-module="ChartDashboard").px-4.sm-w-full.lg-w-2-3.relative
          .graph__inner.bg-white.b-shadow.p-8.rounded.justify-center.items-center.flex-grow.flex-1.h-full.w-full.mb-16
            if weights.length < 3
              p.italic.py-8.px-4.my-16.text-center.flex.justify-center Not enough data logged.
            else
              table
                th Weight
                th Date
                each data in weights
                  tr.chart-data
                    td #{data.weight}
                    td #{h.formatDate(data.date)}
              canvas#myChart